/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-gray-100;
    overflow-x: hidden;
    overflow-y: scroll;
}

.card {
    /*Outlined Card*/
    @apply rounded-lg border-t border-gray-200 p-4 bg-white shadow;
}



/*Tooltip*/
body [data-tooltip]:before, body [data-tooltip]:after {
    transition: all 0.3s ease-in-out;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}